body {
  background: url(./assets/bg-kid.jpg) no-repeat fixed  bottom center/cover;
  background-size: cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
}



#container{
  padding: 10px 50px 20px;
  margin: 35px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: 5px white solid;
  border-radius: 20px;
  width: 100%;
  max-width: 950px;
  padding: 0 24px;
}

.adds{
  display:none;
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}


#titulo{
  align-items: center;
  display: flex;
  justify-content: center;
}

#calculadora{
  color: white;
  display: flex;
  margin-top: 25;
  gap:10px;
  align-items: center;
  justify-content: center;
}

#Adicional{
  color: white;
  display: flex;
  margin-top: 25;
  gap:10px;
  align-items: center;
  justify-content: center;  
}
#adicional button{
  color:black;  
}
#pontos{
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}
#buttonPontos{
  margin-top: 4px;
  border-radius: 10px;
}
